<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sender_contact %><br>
    <%= f.text_field :sender_contact %>
  </div>
  <div class="field">
    <%= f.label :sender_name %><br>
    <%= f.text_field :sender_name %>
  </div>
  <div class="field">
    <%= f.label :receiver_contact %><br>
    <%= f.text_field :receiver_contact %>
  </div>
  <div class="field">
    <%= f.label :receiver_name %><br>
    <%= f.text_field :receiver_name %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :origin %><br>
    <%= f.text_field :origin %>
  </div>
  <div class="field">
    <%= f.label :message_type %><br>
    <%= f.text_field :message_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
