<div class="content-padded">
  <h4>Import Messages</h4>
  <%= form_tag import_messages_path, multipart: true do %>
    <p>
      <%= file_field_tag :file %>
    </p>
    <p>
      <%= submit_tag "Import", class: "btn btn-primary btn-block" %>
    </p>
  <% end %>
</div>
