<% content_for(:title) do %>
  <h1 class="title">Messages</h1>
<% end %>


<% for month in @message_months do %>
  <div class="messages-listing-month">
    <%= get_date month.first %>
  </div>

  <ul class="messages-listing">
    <% month.last.each do |message| %>
      <li>
        <a class="messages-listing-message <%= received_or_sent(@current_user, message) %>" href="<%= url_for message %>" data-transition="slide-in">
          <div class="messages-listing-message-body">
            <%= message.body %>
          </div>
          <div class="messages-listing-message-time">
            <span><%= message_time(message) %></span>
            <span>·</span>
            <span><i class="fa fa-<%= fix_origin(message) %>"></i></span>
          </div>
        </a>
      </li>
    <% end %>
  </ul>

<% end %>

<%= paginate @messages %>
