<% content_for(:bar_buttons) do %>
  <a class="icon icon-left-nav pull-left" href="<%= message_back_path(@message) %>" data-transition="slide-out"></a>
<% end %>

<div class="content-padded">
  <h4>
    <%= @message.sender_name %>
  </h4>
  <p class="message-body">
    <%= @message.body %>
  </p>
  <p>
    <small>to <%= @message.receiver_name %> on <%= message_datetime(@message) %> via <span><i class="fa fa-<%= fix_origin(@message) %>"></i></span>
  </p>
  <hr>
  <%= render "favorites/message_show_form.html" %>
</div>
