<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message_id %><br>
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :faved_at %><br>
    <%= f.datetime_select :faved_at %>
  </div>
  <div class="field">
    <%= f.label :unfaved_at %><br>
    <%= f.datetime_select :unfaved_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
