<%= form_for(@favorite) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :message_id, value: @message.id %>

  <div class="fav-status-wrapper">
    <div class="fav-status <%= get_fav_status(@message) %>">
      <i class="fa fa-star"></i>
    </div>
  </div>

  <%= f.submit "s", class: "submit-fav-input" %>
<% end %>
