<ul class="table-view">
  <% @favorites.each do |favorite| %>
    <li class="table-view-cell media">
      <a class="navigate-right" href="<%= url_for favorite.message %>" data-transition="slide-in">
        <span class="media-object pull-left icon fa fa-star"></span>
        <div class="media-body">
          <%= favorite.user.firstname %>
          <p>
            <b><%= favorite.message.sender_name %></b> - <%= favorite.message.body %>
          </p>
        </div>
      </a>
    </li>
  <% end %>
</ul>
