<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @favorite.message_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @favorite.user_id %>
</p>

<p>
  <strong>Faved at:</strong>
  <%= @favorite.faved_at %>
</p>

<p>
  <strong>Unfaved at:</strong>
  <%= @favorite.unfaved_at %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
