<% content_for(:title) do %>
  <h1 class="title">Login</h1>
<% end %>



<div class="content-padded">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :login, autofocus: true, placeholder: "Username" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </div>

    <%# if devise_mapping.rememberable? -%>
      <div class="field">
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember_me %>
      </div>
    <%# end -%>

    <%= f.hidden_field :remember_me, value: true %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>

  <%#= render "users/shared/links" %>

</div>
