<div class="content-padded">

  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-right" href="<%= url_for messages_path %>">
        <span class="badge"><%= Message.all.count %></span>
        Messages
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-right" href="<%= url_for favorites_path %>">
        <span class="badge"><%= Favorite.all.faved.count %></span>
        Favorites
      </a>
    </li>
  </ul>
</div>
