$grey: #aaa;
$grey-light: #ddd;

$grey-message: #e5e5ea;
$blue-message: #2a9efc;

$primary-color: #9e3ae3;

@import "ratchet/sass/ratchet.scss";
// @import "ratchet/sass/theme-ios.scss";
@import "xpull.css";

@import "layout";
@import "pagination";

@import "messages";
@import "favorites";
