.fav-status {
  color: $grey;
  cursor: pointer;
  padding: 5px;
}

.fav-status-faved {
  color: $primary-color;
}

.submit-fav-input {
  height: 0;
  position: absolute;
  visibility: hidden;
  width: 0;
}
