body {
  background-color: rgba(247, 247, 247, 1);
  -webkit-font-smoothing: antialiased;
}

.bar {
  background-color: rgba(247, 247, 247, 1) !important;
}

hr {
  border: 0;
  border-top: 1px solid #ddd !important;
}



// layout
.content {
  background: white;
}
