// index
.messages-listing-month {
  color: $grey;
  display: block;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
}
.messages-listing {
  margin: 0;
  padding: 20px 15px;

  > li {
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;

    .messages-listing-message {
      display: inline-block;
      max-width: 70%;
    }
    .message-sent {
      float: right;

      .messages-listing-message-body {
        background: $blue-message;
        color: #fff;
      }
      .messages-listing-message-time {
        text-align: right;

        span {
          float: right;
        }
      }
    }

    .messages-listing-message-body {
      background: $grey-message;
      border-radius: 22px;
      color: #000;
      display: inline-block;
      padding: 10px 12px;
    }
    .messages-listing-message-time {
      color: $grey;
      font-size: 13px;
      padding: 0 5px;
      margin-top: 5px;
      overflow: hidden;

      span {
        float: left;
        margin-right: 5px;

        i {
          font-size: 11px;
        }
      }
    }
  }
}










// show
.message-body {
  font-size: 16px;
}
