.pagination {
  clear: both;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;

  > div {
    display: inline-block;
    text-align: center;
    width: 49%;
  }

  span {
    display: inline-block;
    margin: 0 5px;
  }

  .page {
    padding: 0 10px;
    a {
      background: $grey-message;
      border-radius: 5px;
      color: #000;
      padding: 5px 10px;
    }

    &.current {
      background: $blue-message;
      border-radius: 5px;
      color: #fff;
      padding: 5px 10px;
    }
    &.gap {
      background: $grey-message;
      border-radius: 5px;
      color: #000;
      padding: 5px 10px;
    }
  }

  .first,
  .prev,
  .next,
  .last {
    a {
      background: $grey-message;
      border-radius: 5px;
      color: #000;
      padding: 5px 10px;
    }
  }
}
